<% provide(:title, "Recipes List") %>
<div class='page-header'><h1>List of Recipes</h1></div>


	<div class=" main_contents">
		<table class="table table-striped">
	    	<% if @recipes.each do |r| %>
				<% r_item = r.item.html_safe.gsub ' ','-' %>
				<% r_item = r_item.sub '-$','' %>
				  <tr><td><a href='/recipes/<%=r.id%>/<%=r_item%>'><%=r.item%></a></td></tr>
			<%end%>
			</table>
			<%end%>
	</div>

<BR>
	 <div><%= link_to  "<span class=' glyphicon glyphicon-plus'></span> New Recipe".html_safe, recipes_new_path  , class: "btn btn-primary" %>
	 </div>

